<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CLIENT_ID</key>
        <string>800232142357-cbajhbc75kdoohv8d22l32m7q42uqb59.apps.googleusercontent.com</string>
        <key>REVERSED_CLIENT_ID</key>
        <string>com.googleusercontent.apps.800232142357-cbajhbc75kdoohv8d22l32m7q42uqb59</string>
        <key>ANDROID_CLIENT_ID</key>
        <string>800232142357-c20lf2tjt81p1u8squ1ii2dvpv1kdd4g.apps.googleusercontent.com</string>
        <key>API_KEY</key>
        <string>AIzaSyBLDGGbEk6HHWMKeddAhhx3kRxssPBcT6g</string>
        <key>GCM_SENDER_ID</key>
        <string>800232142357</string>
        <key>PLIST_VERSION</key>
        <string>1</string>
        <key>BUNDLE_ID</key>
        <string>com.mahfoozapps.mehfoozaccounts.ios</string>
        <key>PROJECT_ID</key>
        <string>mahfooz-acocunts-app</string>
        <key>STORAGE_BUCKET</key>
        <string>mahfooz-acocunts-app.firebasestorage.app</string>
        <key>IS_ADS_ENABLED</key>
        <false></false>
        <key>IS_ANALYTICS_ENABLED</key>
        <false></false>
        <key>IS_APPINVITE_ENABLED</key>
        <true></true>
        <key>IS_GCM_ENABLED</key>
        <true></true>
        <key>IS_SIGNIN_ENABLED</key>
        <true></true>
        <key>GOOGLE_APP_ID</key>
        <string>1:800232142357:ios:c71662119db70954a2801c</string>
    </dict>
</plist>